<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.simonvt.menudrawer.samples"
    android:versionCode="6"
    android:versionName="3.0.2">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/SampleTheme"
        android:supportsRtl="true">

        <activity
            android:name="SamplesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.simonvt.menudrawer.samples.WindowSample" />
        <activity android:name=".LeftDrawerSample" />
        <activity android:name="net.simonvt.menudrawer.samples.ListActivitySample" />
        <activity android:name="net.simonvt.menudrawer.samples.ViewPagerSample" />
        <activity
            android:name=".RightDrawerSample"
            android:theme="@style/SampleTheme.RightDrawer" />
        <activity
            android:name=".TopDrawerSample"
            android:theme="@style/SampleTheme.TopDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.simonvt.menudrawer.samples.SamplesActivity" />
        </activity>
        <activity
            android:name=".BottomDrawerSample"
            android:theme="@style/SampleTheme.BottomDrawer" />
        <activity
            android:name="net.simonvt.menudrawer.samples.LayoutSample"
            android:theme="@style/SampleTheme.TopDrawer" />
        <activity android:name="net.simonvt.menudrawer.samples.StaticDrawerSample" />
        <activity android:name="net.simonvt.menudrawer.samples.FragmentSample" />
        <activity
            android:name="net.simonvt.menudrawer.samples.ActionBarSherlockSample"
            android:theme="@style/SampleTheme.Sherlock" />
        <activity android:name="net.simonvt.menudrawer.samples.LeftOverlaySample" />
        <activity
            android:name="net.simonvt.menudrawer.samples.TopOverlaySample"
            android:theme="@style/SampleTheme.TopDrawer" />
        <activity android:name="net.simonvt.menudrawer.samples.RightOverlaySample" />
        <activity
            android:name="net.simonvt.menudrawer.samples.BottomOverlaySample"
            android:theme="@style/SampleTheme.BottomDrawer" />
    </application>

</manifest>
