/*

!.gitignore
!README.md
!LICENSE

!art/

!library/
library/*
!library/src/
!library/res/
!library/AndroidManifest.xml
!library/build.xml
!library/project.properties

!samples/
samples/*
!samples/src/
!samples/res/
!samples/AndroidManifest.xml
!samples/build.xml
!samples/project.properties
