/*

!.gitignore
!.travis.yml
!CHANGELOG.md
!README.md
!LICENSE
!checkstyle.xml
!build.gradle
!settings.gradle
!gradle.properties
!gradlew
!gradlew.bat

!art/
!gradle/

!menudrawer/
menudrawer/*
!menudrawer/src/
!menudrawer/res/
!menudrawer/AndroidManifest.xml
!menudrawer/build.gradle
!menudrawer/gradle.properties

!menudrawer-samples/
menudrawer-samples/*
!menudrawer-samples/src/
!menudrawer-samples/res/
!menudrawer-samples/libs/
!menudrawer-samples/AndroidManifest.xml
!menudrawer-samples/build.gradle

.DS_store
